---
language: en
---

<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <title>{{ title | safe }} | saud</title>
        {{ comp.meta({ charset: "utf-8" }) | safe }}

        {{ comp.meta({ name: "monetization", content: "$ilp.uphold.com/wJiQfZf9NYg8" }) | safe }}
        {{ comp.meta({ name: "viewport", content: "width=device-width, initial-scale=1" }) | safe }}
        {{ comp.meta({ name: "author", content: "saud" }) | safe }}

        {{ comp.meta({ property: "og:url", content: url | url(true) }) | safe }}
        {{ comp.meta({ property: "og:type", content: "website" }) | safe }}
        {{ comp.meta({ property: "og:title", content: title }) | safe }}
        {{ comp.meta({ property: "og:locale", content: "en_US" }) | safe }}

        {{ comp.meta({ name: "twitter:title", content: title }) | safe }}
        {{ comp.meta({ name: "twitter:creator", content: "@rotttencandy" }) | safe }}
        {{ comp.meta({ name: "twitter:card", content: "summary" }) | safe }}

        {% if description %}
        {{ comp.meta({ property: "og:description", content: description }) | safe }}
        {{ comp.meta({ name: "description", content: description }) | safe }}
        {% endif %}

        {% if page_cover %}
        {{ comp.meta({ property: "og:image", content: page_cover | url(true) }) | safe }}
        {% endif %}

        {% for m in meta %}
        {{ comp.meta(m) | safe }}
        {% endfor %}
        <link rel="stylesheet" href="/light.css" />
        <link rel="stylesheet" href="/dark.css" media="screen and (prefers-color-scheme: dark)" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>
        <div class="content">
            {{ content | safe }}
        </div>
    </body>
</html>
