---
layout: base.njk
---

<header>
    <a href="/">Home</a> | <a href="/blog">Posts</a>

    <h1>{{ title | safe }}</h1>
    <strong><time datetime="{{ date | date }}">{{ date | date }}</time></strong>
</header>

<hr/>

<main>
    {{ content | safe }}
</main>

<hr/>
