/*
 * Sakura variables
 */
$font-size-base: 1.8rem;
$font-family-heading: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

@import "sakura";
@import "poly_spin";

/*
 * Sakura overrides
 */

pre {
    padding: 0;

    &.pgpblock {
        padding: 1em;
    }
}

/*
 * Extra styles
 */

.content {
    padding-bottom: 50px;
}

footer,
figcaption {
    color: #777;
    font-size: $font-size-base * 0.8;
}

details > summary {
    cursor: pointer;
}

button {
    border-radius: 5px;
}

// Only show anchor when header is hovered
// Note: if done with h3, it causes all links in posts page to disappear
a {
    h2 > &, h4 > & {
        display: none;
    }

    h2:hover > &, h4:hover > & {
        display: inline;
    }
}
// remove default link hover styles
// for using buttons inside links
// TODO: switch to :has() once it's available
a.nohover:hover { border-bottom: 0 }

.grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 900px) { & { grid-template-columns: repeat(2, 1fr) } }
    @media (max-width: 600px) { & { grid-template-columns: repeat(1, 1fr) } }

    & > .item {
        background: $color-bg-alt;
        border-radius: 15px;
        padding: 10px;

        display: flex;
        flex-direction: column;

        // force aspect ratio
        & > img {
            width: 100%;
            height: 120px;
        }

        & > p {
            flex-grow: 1;
        }

        // override sakura default border for links
        & > .links {
            display: flex;
            gap: 1rem;

            & > a {
                flex-grow: 1;

                display: flex;
                & > button {
                    flex-grow: 1;
                }

            }
        }
    }
}
