$font-size-base: 1.8rem;

$font-family-heading: "Quicksand", "Segoe UI", Helvetica, sans-serif;
$font-family-base: "Open Sans", "Segoe UI", Helvetica, sans-serif;

/*
 * Extra styles
 */

.content {
  padding-bottom: 50px;
}

footer,
figcaption {
  color: #777;
  font-size: $font-size-base * 0.8;
}

details > summary {
  cursor: pointer;
}

// Only show anchor when header is hovered
// Note: if done with h3, it causes all links in posts page to disappear
h2 > a,
h4 > a {
  display: none;
}

h2:hover > a,
h4:hover > a {
  display: inline;
}

/*
 * Sakura overrides
 */
