/*
 * Sakura variables
 */
$font-size-base: 1.8rem;
$font-family-heading: "Quicksand", "Segoe UI", Helvetica, sans-serif;
$font-family-base: "Open Sans", "Segoe UI", Helvetica, sans-serif;

@import "sakura";
@import "poly_spin";

/*
 * Sakura overrides
 */

pre {
    padding: 0;

    &.pgpblock {
        padding: 1em;
    }
}

/*
 * Extra styles
 */

.content {
    padding-bottom: 50px;
}

footer,
figcaption {
    color: #777;
    font-size: $font-size-base * 0.8;
}

details > summary {
    cursor: pointer;
}

// Only show anchor when header is hovered
// Note: if done with h3, it causes all links in posts page to disappear
a {
    h2 > &, h4 > & {
        display: none;
    }

    h2:hover > &, h4:hover > & {
        display: inline;
    }
}
