{# todo: turn this into component #}
<div class="polygon" tabIndex="-1" aria-hidden="true">
    <div class="spinner">
        <div class="face f0"></div>
        <div class="face f1"></div>
        <div class="face f2"></div>
        <div class="face f3"></div>
        <div class="face f4"></div>
        <div class="face f5"></div>
        <div class="face f6"></div>
        <div class="face f7"></div>
    </div>
</div>
