---
layout: base.njk
title: Blog
# Needed to not get this page caught in the below search query
type: page
---

<nav>
    <a href="/">Home</a>
</nav>

<header>
    <h1>
        {{ title | safe }}
        <sup>
            <a class="nohover" href="/rss.xml">
                <button title="RSS feed">feed</button>
            </a>
        </sup>
    </h1>
    <p>
        My stream of consciousness and semi-coherent rambling.
    </p>
</header>

<main>
    <section>
        {% for page in search.pages("type=article", "date=desc") %}
        <h3>
            <a href="{{ page.data.url | safe }}">{{ page.data.title }}</a>
        </h3>

        <p>{{ page.data.description | safe }}</p>
        {% endfor %}
    </section>
</main>
