---
layout: base.njk
title: Blog
---

<nav>
    <a href="/">Home</a>
</nav>

<header>
    <h1 class="w500">
        {{ title | safe }}
        <sup>
            <a href="/rss.xml"><button title="RSS feed">feed</button></a>
        </sup>
    </h1>
</header>

<main>
    <section>
        {% for page in search.pages("type=article", "date=desc") %}
        <h3 class="w400">
            <a href="{{ page.data.url | safe }}">{{ page.data.title }}</a>
        </h3>

        <p>{{ page.data.description | safe }}</p>
        {% endfor %}
    </section>
</main>
