<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="monetization" content="$ilp.uphold.com/wJiQfZf9NYg8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="author" content="Mohammed Saud" />
    {% block meta %} {% endblock %}
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" id="darktheme" href="/theme.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </body>

</html>
