{% extends "base.html" %}

{% block meta %}
<title>{{ page.title }} - Saud</title>
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ current_url }}" />
{% if page.extra.cover %}
<meta property="og:image" content="{{ current_url ~ page.extra.cover }}" />
{% endif %}
<meta name="description" content="{{ page.description }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:creator" content="@rotttencandy" />
{% endblock meta %}

{% block content %}

<header>
  <a href="/">Home</a> | <a href="/blog">Posts</a>

  <h1 class="w500">
    {{ page.title }}
  </h1>
  <strong class="w400"><time datetime={{ page.date }}>{{ page.date }}</time></strong>
</header>

<hr/>

<main>
{{ page.content | safe }}
</main>

<hr/>

{% endblock content %}
