---
layout: base.njk
title: Saud's Website
meta:
- name: description
  content: "Saud's personal website"
---

<main>
    <h3 class="w400">SAUD'S HOMEPAGE</h3>
    Hello I'm saud
    <dl>
        <dd><a href="/blog">Blog</a></dd>
        <dd>Code: <a rel="me" href="https://github.com/rottencandy">GitHub</a></dd>
        <dd>Email: mdsaud〖@〗pm.me</dd>
        <dd>Matrix: <a href="https://matrix.to/#/@rcandy:matrix.org">@rcandy:matrix.org</a></dd>
        <dd>
            Fediverse: <a rel="me" href="https://mastodon.xyz/@saud">saud@mastodon.xyz</a>
        </dd>
    </dl>

    <details>
        <summary>PGP Key</summary>
        <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF7U2UMBEADfizAvhQEGTYZwfQ4Sv7pBN3uQ1PQsjUBp2YXJltpwvBnmUXYI
DxnxjMTVyOODqdCAv3u33bHxTJPpDoGpV5oXK1nM6lMVHjNl2LNXTJHZbgYtbURz
4QF2rBJa/W+gxMmu98X0oXxtMZoWHHe9L79iQV3mY23dWObNL6lZ1ZMCY3F+8NVs
1E+Rf4vrKb9HMYJcwYPULCU7p9Iz/qsCupZVKw0y35Bkvq/cwIh0/mpBxi5V/WIS
snuy27cGJDwnVRV0BHkkvxb+qCY50D03c8bb2kbzAp8NHQw5FsTL/Z5tpfizQWf9
sLw/hQz7jvpSADZJ37GOcPoW0a9DxE/PrPysqqf1y0PbpaKpzkzfGdC1/uFYpfDO
fffdjO/zSvoIZzK2VhlKUQyrus0gaEQ+S4d8ZktB0eX1g1EEI15YxDYSV3Q15Spx
JzntdTWpH/elEBbeQdkBiu0jKGoIzXlJ/U7DbkJbBa+tXdeYcedApIozkcvEIAM6
JcUu4h7+Lr5ktWn6iIUIw+qWdeGBvEK3f6WqlxOzR989HV2SckOoIqU1LBQT+fhi
CI2C0eKZ0CjysiAeYK5EMxhEcyJhKfVEXEiXux78CNRly0ffCZGm+nkeG/y7pnZb
H6QU9SemUMMohre8Nt4PcJrC5lTcF2QiXun4VxanQCBRkuGxV/tS3jGX2QARAQAB
tC9Nb2hhbW1lZCBTYXVkIChNYWluIEtleSkgPG1kLnNhdWQwMjBAZ21haWwuY29t
PokCTgQTAQgAOBYhBC1C0EuDTAUrIXzcOkQH5esnnhTzBQJe1NlDAhsDBQsJCAcC
BhUKCQgLAgQWAgMBAh4BAheAAAoJEEQH5esnnhTzqP8P/i0ZNN8xo4QupeFs/Rik
BhfQkJqtKueI7W1Zmc+ntrJfvh1ADBV7kP/0py6NGyE4+Q/PpbTbuU++NhACN1/Q
7VjmhIFpGKF2vfu4l6CvqI2Nh+NtbDbuJUXfWdaP7hBGTjzfEhfErjYNI7Op2ayf
igOrSqNN2aWJnBthXunT1M5TmNCJjU1hbIMFb/QPUpqH1OYARZrCJg8OmDwydm6I
QneGv6cPcmVZWWRk4y2lgK3wb5TM8AfTlmxsa+4tC5WHfj5qTapBtRr0f0jNe222
iTFf7D/La6KhNBw79O5xEuaiQIKIwZogMxjUhZ8tj8yMZ5/YBHyMwJEneaLPvYGD
zZRtZ7j+9nttsYdYlZ1KL07MNM80ZLxwHlWAb1YTsIMOuBjjrhrhUNYwjPzK+vmS
uDCGOH1rhr7wdhpJJktL4pw1tbe/QRlO4qY9iusE3SNQ5kN1TLwfJCJcFT0XcVQc
+Li/VDg6D19xZq8xL6uPWPAFFosVK7YNbWN2K81s5jjQUY/31r6YfF0zqhPAr1aF
EGL2HbEJIyUBm19821C07OppB0iTy5qcWLW5JBZt1sqhZy2CflKz9BKSaPQZMd2e
6tKCtf9ZXiq0X7rbPipfj/H+HxSF10WGxWW3MzohNqYcvTpto4UOWYgGfou6vLaK
Mn7Uo9ozDq70ecyyjeX65UDFuQINBF7U2UMBEADC404KXs6qoGmWi/ktWsTZYNRQ
4uVOcVAFsnrxqBWEyNhVzWwuARlNe15RZUMelNAfOI4X3yhUp/tz4Z+t7uCCQJk6
PcHpLe3VcKte6ZqA53/TSvjmuPzchhCTiFirga8Bhu3Y5PsTxJqw0D2jxMypRCr9
/6H3TvsP2PKYw5yKQX4qHRueobNQtpsgQPHJ2j6z44BbMGrmdhXujOEbNjkRreaa
+xzoVr1a0zVahDyPwd9uLv/UKjKxiEYBvWvAjc3HHQBl+V2co+N/aetMg7sLFxkN
KqRv9zHIqxLO29h4jHXfe3gpI4tcmf2G85gEaUhHydyrFKfMY+s70hhDFYImLU47
l2Xr8gme0ty0Yc9RSWb+C2ZjSRwIAt6swKGNes99nMnIj2TSWFT2hmaScGe25+I+
xSrSSP9y7FXVyCEuIsDoGrrCehhcJ2i6SQdqD1ZQunSiDUsEpR2acqdbuw6AumFd
+u9h8SB2nt//I1WbLNg15XsmWMVoIHkOEh3otWL22swm5f+oVkCtG1nKVr5rN6bh
c2SbkuOgOel/HIc2AMZanudy+w10L40KiHeN3mHDjxc0M6C7oEpnReOIGHyM6s0x
rdnBRkECwMHptp1Va6U7+4R65xqaUItZWFLYnjXKXYpJioDmAhmDbk61/KhsnrFV
yX7eXUADkECoeC2kiQARAQABiQI2BBgBCAAgFiEELULQS4NMBSshfNw6RAfl6yee
FPMFAl7U2UMCGwwACgkQRAfl6yeeFPPo2xAAs7kNBHdSym3zs2Nd093yJU1oPE+q
UdRhcvaru78fSEH3gabIZGG9LAd5xn+n1Le/YDeQZQh6MPbtJvOtZGzzgBk4HRdE
l9cnIaE9iJVvKWTL2hxRH+B5Fn96UJVy6GPMc/5kPhBml4SjGrt8bkutZV16qQ9a
Emn8MWomnw9joK5sU2JqiO544pIr/jfb8oKlK2m8eB60JPkvBbpux5iGXqY9inks
Lto4ur5r3hkdUp81jBYRLzsE718mUxIbKT0SLj970vfXxT6EyO6oJqF/EQ1tke4R
twqD85v4WAn+wsW9BQAmzqqqRFIflE0h8IJYAqj+0l1JzeEbgrtyxGCL9Mqk/Z1p
mRdRzbfh26EgETaq2bpBktMlklSuUG8GyvQ5FGPqcs3oadfwBAZmmjUTLxWCMeIJ
d7qOBD3w7FkBxuzdkT8JnEa2L78GvZlkoADb377EiGQIqEHQHg80uliuQqTFTXCE
hFAeR1DnFhb3067atIPX0fAm4KNWiU+aWaWlaRFpICVHvMHmo0tGaGuV7T1bPn8v
sdTiiiYl4LnYBzD1gCJr6BTqyp7e+uDhs0Gh9sNBXUh4NwJuZe45Dv4f6pN83FvJ
+SIWN6a/XpbWNvKG0ssFBXmzURYFxGfENPZHRBEgWaLBfYXdcOvujmq/RYcprW3O
dApw14VMSXoRt8A=
=bELR
-----END PGP PUBLIC KEY BLOCK-----
        </pre>
    </details>
</main>
