{# icons from https://feathericons.com/ #}
{# TODO: Macros can be moved to utils and imported #}

{% macro codeIcon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
{% endmacro %}

{% macro linkIcon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
{% endmacro %}

<div class="item">
    <h5>{{ data.name }}</h5>
    <img
        src="{{ data.image if data.image else "/img/projects/placeholder.svg" }}"
        alt="{{ data.imageAlt if data.image else "No image available" }}"
    />
    <p>{{ data.description }}</p>

    <div class="links">
            {% if data.link %}
                <a class="nohover" href="{{ data.link }}" target="_blank">
                    <button title="Demo">
                        {{ linkIcon() }}
                    </button>
                </a>
            {% endif %}
            <a class="nohover" href="{{ data.source }}" target="_blank">
                <button title="Source code">
                    {{ codeIcon() }}
                </button>
            </a>
    </div>


</div>
