<meta
{{ if name }} name="{{ name }}" {{ /if }}
{{ if property }} property="{{ property }}" {{ /if }}
{{ if content }} content="{{ content }}" {{ /if }}
{{ if charset }} charset="{{ charset }}" {{ /if }}
/>
