<meta
{% if name %} name="{{ name }}" {% endif %}
{% if property %} property="{{ property }}" {% endif %}
{% if content %} content="{{ content }}" {% endif %}
{% if charset %} charset="{{ charset }}" {% endif %}
/>
