---
layout: base.njk
title: Projects
---

<nav>
    <a href="/">Home</a>
</nav>

<header>
    <h1>
        {{ title }}
    </h1>
</header>


<main>
    <section>
        <p>
            Fun stuff I've built.
        </p>
    </section>

    <section>
        <div class="grid">
            {{ for project of projects }}
                {{ comp.card({ data: project }) }}
            {{ /for }}
        </div>
    </section>
</main>
